#app-container {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    width: 100%;
    min-width: 280px;
    justify-content: center;
    padding: 10px;
    padding-bottom: 0px;
    margin: auto;
    /* height:100%; */
    /* overflow: auto; */
}

.App {
    text-align: center;
}

.background-image {
    background-image: url("./assets/1C-website-cover-v2.jpg");
    background-repeat: no-repeat;
    position: relative;
    /* height: 100vh; */
    /* z-index: 100; */
}

.navbar {
    /* position: fixed; */
    top:-.2em;
    bottom: 0;
    position: sticky;
    transition: 0.2s ease-in;
    z-index: 100;
}

.navbar-bg {
    background-color: #595c61;
    opacity: 0.97;
}

.footer-bg {
    background-color: #595c61;
}

footer {
    width: 100%;
    height: 50px;
}

.cover {
    object-fit: cover;
}

.carousel-caption {
    margin-top: 50px;
    top: 0;
    bottom: auto;
}

/* .main-container {
    height: 24vh;
} */
